[submodule "ThirdParty/JUCE"]
	path = ThirdParty/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "ThirdParty/tracktion_engine"]
	path = ThirdParty/tracktion_engine
	url = https://github.com/Tracktion/tracktion_engine.git
[submodule "ThirdParty/juce_simpleweb"]
	path = ThirdParty/juce_simpleweb
	url = https://github.com/pob31/juce_simpleweb.git
[submodule "ThirdParty/spatcore"]
	path = ThirdParty/spatcore
	url = https://github.com/pob31/spatcore.git
